<!DOCTYPE html>
<html>
<head>
  <title>AdaCooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Wiki Cooking</h1>
    <h4>Because anyone can change anything</h4>
    <h5>This is TOTALLY on purpose</h5>
    <div class="nav">
      <ul>
        <li><b>Dev links</b></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New User", new_user_path %></li>
        <li><%= link_to "New Recipe", new_recipe_path %></li>
        <li><%= link_to "New Ingredient", new_ingredient_path %></li>
      </ul>
    </div>
  </header>

<%= yield %>

</body>
</html>
