<h2>Edit <%= @recipe.name %></h2>

<%= form_tag update_recipe_path(@recipe.id), :url => {:action => "update"}, method: :patch do %>
  <%= label_tag "recipe_form[name]", "Name" %> <br>
  <%= text_field_tag "recipe_form[name]", @recipe.name %> <br>

  <%= label_tag "recipe_form[servings]", "Servings" %> <br>
  <%= select_tag "recipe_form[servings]", options_for_select(0..12)%> <br>

  <%= label_tag "recipe_form[instructions]", "Instructions" %> <br>
  <%= text_area_tag "recipe_form[instructions]", @recipe.instructions%> <br>

  <% Ingredient.all.each do |ingredient| %>
    <%= check_box_tag "recipe_form[ingredients][]", ingredient.id%>
    <%= label_tag "recipe_form[ingredients][]", ingredient.name, input_html: {:checked => params[:ingredients]} %> <br> <!--to fix, set the label tag "" to be some unique id then add id attribute to check box tag -->
  <% end %>

  <%= label_tag "recipe_form[ingredient][name]", "New Ingredient" %> <br>
  <%= text_field_tag "recipe_form[ingredient][name]", nil %> <br>

  <%= submit_tag %>
<% end %>
