<h2><%= @recipe.name %></h2>
<%= link_to "Edit #{@recipe.name}", edit_recipe_path(@recipe.id, {ingredients: @ingredients.map{|i| i}}), :class => 'submit_class_name_here' %>
<h3>Servings</h3>
<p>
  This recipe serves <%= @recipe.servings %>
</p>

<h3>Directions</h3>
<p>
  <%= simple_format(@recipe.instructions)%>
</p>

<h3>Ingredients</h3>
<p>
  <ul class="ingredient_list">
  <% @ingredients.each do |i| %>
    <li><%= i.name %></li>
  <% end %>
</ul>
</p>



<%= button_to "Delete #{@recipe.name}", delete_recipe_path(@recipe.id), :class => 'btn btn-default' %>
